.login {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.login__conrainer {
  width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.login__title-container {
  margin-top: calc(100vh - 85vh);
  min-height: 100px;
  width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  background-color: pink;
}

.login__types-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.login__types-btn {
  width: 50%;
  padding: 9px 5px 9px;
  border-radius: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.login__types-btn:hover {
  background-color: gray;
}

.login__types-btn_active {
  background-color: rgb(54, 204, 204);
}

.lable__inpun-container {
  width: 100%;
  padding: 20px;
}

.login__label {
  width: 100%;
}

.login__input-password {
  width: 100%;
  position: relative;
}

.logit__show-password {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border: none;
  padding: 4px;
  background-color: rgb(169, 228, 255);
  border-radius: 0.3rem;
  cursor: pointer;
  width: 50px;
}

.login__input {
  width: 100%;
  margin: 10px 0 10px;
  padding: 6px;
}

.login__input_error {
  outline-color: #ff0000;
  border-color: #ff0000;
  box-shadow: none;
}

.login__error {
  color: #9b0000;
  padding: 10px;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  font-size: 15px;
}

.login__picture-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
}

.ligin__picture-container {
  border-radius: 10rem;
  border: 1px dotted gray;
  min-width: 100px;
  min-height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.login__login-bts {
  width: 100%;
  margin-top: 30px;
  background-color: rgb(0, 143, 226);
  padding: 8px;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  color: white;
}

.login__login-bts_disabled {
  background-color: gray;
}

.login__login-bts:active {
  background-color: gray;
}

.login__title {
  color: rgba(225, 225, 225, 0.01);
  background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 70px;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

.login__loader {
  width: 20px;
  height: 20px;
  border-bottom-color: transparent;
}
