.myChats {
  height: 100%;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
}

.myChats__header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: space-evenly;
  font-size: 20px;
  white-space: nowrap;
}

.myChats__new-group-chat {
  display: flex;
  align-items: center;
  padding: 0 5px 0;
  margin: 0 0 0 10px;
  border-radius: 1rem;
  border: none;
  background-color: rgb(212, 212, 212);
  cursor: pointer;
  white-space: nowrap;
}

.myChats__new-group-chat-plus {
  font-size: 30px;
  margin-left: 5px;
}

.myChats__chats-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 94%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 7px;
}

.myChats__chats {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 5px 0 5px;
  position: relative;
}

.myChats__chat-unread {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: rgb(194, 0, 81);
  color: white;
  border-radius: 10rem;
  padding: 0 5px;
  z-index: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 20%;
}

.myChats__chat {
  margin-top: 10px;
  background-color: rgb(219, 219, 219);
  width: 100%;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.myChats__chat_selected {
  background-color: rgb(21, 201, 201);
}

.myChats__chat-info {
  width: 100%;
  display: flex;
  align-items: center;
}

.myChats__chat-info-message {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  max-width: 75%;
}

.myChats__chat-lastedMessage {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.myChats__chat-lastedMessage-name {
  font-weight: bold;
  font-size: 1.05rem;
  color: rgb(124, 124, 124);
}

.myChats__chat-name {
  max-width: 100%;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myChats__image-container {
  min-width: 40px;
  min-height: 40px;
  position: relative;
  border-radius: 10rem;
  overflow: hidden;
}

.myChats__chat-avatar {
  height: 100%;
  top: 0;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.myChats__image-container_group {
  border-radius: 0;
}
