.chatBox {
  height: 100%;
  flex: 2;
  background-color: white;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.chatBox__header {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.chatBox__chat-name {
  font-size: 28px;
}

.chatBox__chat-setting {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatBox__chat-setting-icon {
  width: 40px;
}

.chatBox__container {
  flex: 2;
  background-color: rgb(219, 219, 219);
  width: 100%;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.chatBox__messages-empty {
  width: 100%;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.chatBox__input-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  justify-content: center;
  min-height: 50px;
  max-height: 70vh;
  transform: scale(-1, -1);
  resize: vertical;
  color: transparent;
  overflow: hidden;
  background-color: rgb(219, 219, 219);
  border-radius: 0.5rem;
  border: 2px solid gray;
  outline: none;
  bottom: 0;
}

.chatBox__input-container_focus {
  border: 2px solid rgb(0, 174, 255);
}

.chatBox__container-textarea {
  height: 100%;
  width: 100%;
  padding: 7px 5px;
  outline: none;
  transform: scale(-1, -1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatBox__container-textarea-container-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  padding: 10px 30px 7px 10px;
  box-sizing: border-box;
  overflow: hidden;
  word-wrap: break-word;
  cursor: context-menu;
  color: dark;
}

.chatBox__container-textarea-text {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  overflow: hidden;
}

.chatBox__container-textarea-text::-webkit-resizer {
  display: none;
}

.chatBox__container-input-send-icon {
  height: 20px;
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.chatBox__start-mesasge {
  width: 100%;
  height: 100%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatBox__messages-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.chatBox__messages {
  position: absolute;
  overflow: auto;
  bottom: 60px;
  max-height: 93%;
  width: 100%;
}

.chatBox__my-message {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.chatBox__message {
  width: 100%;
}

.chatBox__message-content {
  background-color: rgb(139, 162, 224);
  padding: 10px;
  border-radius: 1rem;
}

.chatBox__sender-message {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.chatBox__sender-image-container {
  position: relative;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 10rem;
}

.chatBox__sender-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
